[submodule "kobo-docker"]
	path = kobo-docker
	url = https://github.com/kobotoolbox/kobo-docker.git
[submodule "nexus/chameleon-nexus"]
	path = nexus/chameleon-nexus
	url = git@github.com:chameleonhub/chameleon-nexus.git
[submodule "canvas/chameleon-canvas"]
	path = canvas/chameleon-canvas
	url = git@github.com:chameleonhub/chameleon-canvas.git
[submodule "canvas/chameleon-canvas-ulo"]
	path = canvas/chameleon-canvas-ulo
	url = git@github.com:chameleonhub/chameleon-canvas-ulo.git
[submodule "canvas/chameleon-data"]
	path = canvas/chameleon-data
	url = git@github.com:chameleonhub/chameleon-data.git
